.about-wrapper {
    display: flex;
    background-color: var(--secondary-color);
}

.about {
    display: flex;
    align-items: center;
    /* height: 341px; */
    background-color: var(--secondary-color);
    margin: 0 auto;
    max-width: 800px;
}

.info-txt {
    display: flex;
    flex-flow: column wrap;
    max-height: 117px;
    max-height:  100%;
    margin-right: 10%;
}

.social-icons {
    font-size: 2em;
    align-self: flex-end;
    margin-top: 80px;
}

.developer-img {
    margin-right: 10%;
    margin-left: 10%;     
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);    
}

h1.developer-name {
    height: 22px;
    color: #d7fcf5;
    font-family: 'MavenPro-Regular';
    font-size: 30px;
    font-weight: 400;
    line-height: 4.56px;
}

h2.job-info {
    width: 249px;
    height: 17px;
    color: #20816d;
    font-family: 'MavenPro-Regular';
    font-size: 18px;
    font-weight: 400;
    line-height: 21.56px;  
    align-self: flex-start;
    margin: 0;
}

p.developer-info {
    max-width: 581px;
    height: 76px;
    color: #d7fcf5;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    margin-bottom: 10px;
}

.fa-facebook-square {
    color: #3b5998; 
    border-radius: 10px;    
}

.fa-twitter-square {
    color: #55cefa;
    border-radius: 10px; 
}

.fa-google-plus-square {
    color: #7a2821b4;
    border-radius: 10px; 
}

.fa-pinterest-square {
    color: #cb2027;
    border-radius: 10px; 
}

.fa-linkedin-square {
    color:  #054a69;
    border-radius: 10px; 
}

/* in the meanwhile */
.fa:hover {
    color: rgba(255, 213, 0, 0.842);
}


@media (max-width: 640px) {
    .about-wrapper {
        display: flex;
        flex-flow: column ;
        max-height:50%; 
        
        
    }
    .about {
        display: flex;
        flex-flow: column;
        align-items: center;
        background-color: var(--secondary-color);
        margin: 5px auto;
        max-width: 100%;
    }

    .about h1{
        margin: 0;
    }

    .info-txt {
        display: flex;
        flex-flow: column;
        width: 100%;
        margin: 0;

    }
    .social-icons {
        font-size: 2em;
        align-self: flex-end;
    }
  
    .developer-img {
        width: 120px;
        display: flex;
        margin: 0 auto;
        margin-top: 10px;
        -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); 
    }
 
}



