

.editor {
    background: var(--main-color);
    border-radius: 8px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-around;
    max-width: 200px;
   
    
}

.editor input {
    margin: 15px;
}

.add-line {
    width: 100%;
    border:none;
    border-bottom: 1px solid  white;
	background:#45454500;
	color:#d7fcf5;
    text-align: center;
    font-size: .8em;
}

#editor > i {
    cursor:pointer;
	border:none;
	background:#2eb398;
	color:#d7fcf5;
	margin:5px;
	padding:10px;  
	text-decoration: none;
	font-size: 1em;
	border-radius: 5px;
    width: 15px;
    height: 15px;
	text-align: center;
}


#editor > i:hover {
	background:#454545;
	transition:background-color 0.3s ease-in-out;
}
.btn {
    cursor:pointer;
	border:none;
	background:#2eb398;
	color:#d7fcf5;
	margin:5px;
	padding:10px;  
	font-family: var(--primary-font);
	text-decoration: none;
	font-size: .8em;
	border-radius: 5px;
	width: 120px;
    text-align: center;
    align-self: center;
}

.btn-size {
    /* width: 1em;
    height: 1em; */
    font-size: 2em;
    line-height: 0;
    padding:0;
    margin: 0;
}

.btn-phone {
	display: none;
}

@media (max-width: 740px) {
    .editor {
        flex-flow: row wrap;
         max-width: 98vw;
         margin-top: 10px; 
         justify-content: center; 
        
    }
    .editor input {
        margin: 5px;
        align-self: center;
    }
    .btn { 
      align-self: center;
    }
    #editor > input:nth-child(12) {
        margin-right:30px;
    }
    .btn-phone {
        display: flex;
        font-size: 1em;
        width: 35px;
        height: 35px;
        cursor:pointer;
        border:none;
        background:#2eb398;
        color:#d7fcf5;
        font-family: var(--primary-font);
        border-radius: 5px;
        margin:2px;
    }  
}


