
  /*----------  lato Font  ----------*/
  @font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato/Lato-Bold.ttf'); 
    font-weight: 700;  }


    /*----------  "Maven Pro Regular ----------*/

    @font-face {
      font-family: 'MavenPro-Regular';
      src: url('../assets/fonts/maven-pro/MavenPro-Regular.ttf');
    }

  
  