.footer p{
    margin: 0;
    padding-left: 35px;
}

.footer {
    display: flex;
    height: 43px;
    max-width: 100%;
    margin: 0;
    align-items: center;
    background: #222222;
    color: #454545;
}