@import '_vars.css';
@import '_nav.css';
@import '_fonts.css';
@import '_dev-info.css';
@import '_container.css';
@import '_gallery.css';
@import '_canvas.css';
@import '_contact.css';
@import '_footer.css';




body {
    background: var(--bg-main-color);
}

.text-input  {
	border:none;
	background:#454545;
	color:#d7fcf5;
	margin:0 0 5px;
	padding:10px;
}
.img-url {
	min-width: 140px;
    text-align: center;
}

.btn {
    cursor:pointer;
	border:none;
	background:#2eb398;
	color:#d7fcf5;
	margin:0 0 5px;
	padding:10px;  
	font-family: var(--primary-font);
	text-decoration: none;
	font-size: .8em;
	border-radius: 5px;
}

.btn:hover {
	background:#454545;
	transition:background-color 0.3s ease-in-out;
}

.btn:focus {
    outline:none;
}
.text-input:focus {
    outline:none;
}