@import '_vars.css';
@import '_nav.css';
@import '_fonts.css';
@import '_dev-info.css';
@import '_container.css';
@import '_gallery.css';
@import '_canvas.css';
@import '_contact.css';
@import '_footer.css';




body {
    background: var(--bg-main-color);
}

.searchbox {
	border:none;
	background:#454545;
	color:#d7fcf5;
	margin:0 0 5px;
	padding:10px;
}

[value="Search"] {
    cursor:pointer;
	border:none;
	background:#2eb398;
	color:#d7fcf5;
	margin:0 0 5px;
	padding:10px;   
}

[value="Search]:hover {
	background:#454545;
	transition:background-color 0.3s ease-in-out;
}