@import '_vars.css';
@import '_nav.css';
@import '_fonts.css';
@import '_dev-info.css';
@import '_container.css';
@import '_gallery.css';
@import '_canvas.css';
@import '_contact.css';
@import '_footer.css';




body {
    background: var(--bg-main-color);
}

.text-input  {
	border:none;
	background:#454545;
	color:#d7fcf5;
	margin:0 0 5px;
	padding:10px;
}
.img-url {
	min-width: 140px;
    text-align: center;
}

.btn {
    cursor:pointer;
	border:none;
	background:#2eb398;
	color:#d7fcf5;
	margin:0 0 5px;
	padding:10px;  
	font-family: var(--primary-font);
	text-decoration: none;
	font-size: .8em;
	border-radius: 5px;
}

.btn:hover {
	background:#454545;
	transition:background-color 0.3s ease-in-out;
}

.add-line {
	border:none;
	background:#454545;
	color:#d7fcf5;
	margin:0 0 5px;
	padding:10px;	
}

.btn-add-line  {
	border:none;
	background:#2eb398;
	color:#d7fcf5;
	margin:0 0 5px;
	padding:10px;
}

/* .input-holder {
	max-width: 45%;
	height: 7%;
	display: none;
} */

/* .input-holder-show {
	width: 100%;
	display: flex;	
	position: absolute;
	top:30%;
	left: 3%;
	opacity:1;
	background:rgba(0,0,0,0.5);
	
	} */

/* .input-txt {
	width: 100%;
	background:rgba(0,0,0,0.5);
	color: white;
	font-size: 2em;
	opacity: 1 !important;
	border:  0;

} */
.btn:focus {
    outline:none;
}
.text-input:focus {
	outline:none;
}

.btn-color {
	background: rgba(255, 255, 255, 0);
}

.searchbox {
	text-align: center;
}
.searchbox:focus {
	text-align: left;
	
}
